.btn-reset{
  width: 4.6875vw;  /* 90px */
  height: 4.6875vw;
  border-radius: 100%;
  border: none;
  background: #474747;
  box-shadow: 5px 5px 20px #00000099;
  font-family: 'Marianne-light', sans-serif;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-reset:hover{
  background: #707070;
}

img{
  position: absolute;
  z-index: 1;
	width: 5.5vw;  /* 105.6px */
}

p{
  font-size: 0.7vw;  /* 13.5px */
}
