.container-main{
  width: 10.4vw;
  height: 10.4vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.anim-loader1{
  width: 97.5%;
  height: 97.5%;
  border: 4px solid #7B7B7B;
  border-radius: 100%;
  border-bottom-color: transparent;
  border-left-color: transparent;

  animation: 2s linear infinite rotate1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.anim-loader2{
  width: 80%;
  height: 80%;
  border: 4px solid #7B7B7B;
  border-radius: 100%;
  border-top-color: transparent;
  border-right-color: transparent;

  animation: 2s linear infinite rotate2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container-logo{
  width: 65%;
  height: 65%;
  /* background-color: #474747;
  border-radius: 7px;
  border: 3px solid #7B7B7B; */

  animation: 2s linear infinite cancelAnimation;
}

.logo{
  width: 100%;
  height: 100%;
}



@keyframes rotate1{
  to{
    transform: rotate(360deg);
  }
}

@keyframes rotate2{
  to{
    transform: rotate(-720deg);
  }
}

@keyframes cancelAnimation{
  to{
    transform: rotate(360deg);
  }
}

