<div class="container-main">
  <button [@switch-large]="activate ? 'enabled' : 'disabled'" (click)="runAnimation()" class="btn-switch-large"></button>
</div>

<!-- START EXEMPLE -->
<p><i>The box is now {{ activate ? 'enabled' : 'disabled' }}!</i></p>
<!-- END EXEMPLE -->
