
.container-main {
  width: 255px;    /* Scale to fit à travailler avec la solution actuel */
  height: 122px;

  position: relative;
  display: flex;
  flex-direction: row;
}

.small-circle{
  width: 13px;
  height: 13px;
  position: absolute;
  background-color: #232323;
  border-radius: 100%;
}

.pos1{
  left:170px;
  top:12px;
  background-color: #FF5A73;
  z-index: 1;
}

.actifTrash{
  background-color: red;
}

.pos2{
  left:83px;
  top:13px;
  background-color: #7B7B7B;
  z-index: 1;
}

.pos3{
  left:82px;
  top:100px;
  background-color: #7B7B7B;
  z-index: 1;
}

.actifPoint{
  background-color: #313131;
}

.cercle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 122px;
  height: 122px;
  border-radius: 50%;
  position: absolute;
}

.cercle-dashed{
  border: 2px dashed #FF5A73;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  left:70px;
}

.cercle-solid{
  border: 2px solid #707070;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.mask-pointer{
  top: 28px;
  left: 32px;
  height: 25px;
  width: 15px;
  cursor: grab;
  transform: rotate(-40deg);

  position: absolute;
  z-index: 1;
}

.mask-pointer:active{
  cursor: grabbing;
}

#btn-status{
  width: 160px;
  height: 160px;
}

#trash{
  position: absolute;
  left:180px;
}

p{
  position: absolute;
}

#example{
  top:110px;
}

#valide{
  top:80px;
  left:25px;
}

#saisie{
  top:-7px;
  left:5px;
}

.actifText{
  font-weight: bold;
}

