<div [@fiche-synthese]="activateAnimFilter ? 'enabled' : 'disabled'" class="container-main">
  <div class="container-chevron">
      <img [@img]="activateAnimImg ? 'enabled' : 'disabled'" (click)="runAnimationFilter()" (click)="runAnimationImg()" src="assets/images/ChevronGauche.svg">
  </div>
  <div class="panel">
    <div class="data">
      <!--START EXEMPLE-->
      <p><I>Contenu de la fiche synthèse</I></p>
     <!-- END EXEMPLE-->
    </div>
  </div>
</div>
