<div class="container-main">
    <div class="checkbox" (click)="runAnimationMask()">
      <div [@mask]="activateAnimMask ? 'enabled' : 'disabled'" class="mask"></div>
      <img class="img" src="assets/images/Check.svg">
    </div>
</div>
