
.checkbox{
  width:1.042vw;
  height:1.042vw;
  border: 1px solid #474747;
  border-radius: 5px;
  background-color: #D4D4D4;
  overflow: hidden;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mask{
  width:1.042vw;
  height:1.042vw;
  background-color: #D4D4D4;

  z-index: 2;
}

.img{
  width: 0.781vw;
  position: absolute;
  z-index: 1;
}
