<div class="input-et-voyant">

    <input [(ngModel)]="text">

    <!-- Si la taille de la box ou l'on écrit le text est > 0 alors on applique la classe css .active, sinon on applique la classe .disabled -->
    <div class="icone" [ngClass]="{'active': text.length > 0,'disabled': text.length === 0 }">
        <img src="assets/images/microscope_Off.svg">
    </div>

</div>

<!-- START EXAMPLE -->
<p><I>Text correspondant dans le ts : {{text}}</I></p>
<!-- END EXAMPLE -->
