.input-et-voyant{
  height: 3.9vw;  /* Contenur + grand qui permet que les élements ne se *
                décale pas en hauteur lors du passage en état actif */
  display: flex;
  align-items: center;
}

.input{
  margin-right: 1vw;
}

input{
  margin-right: 1vw;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  height: 1.15vw;
  width: 7.8125vw;
}

.icone{
  width: 2.6vw;  /* 50px */
  height: 2.5vw;  /* 48px */
  border-radius: 10px;
  box-shadow: 5px 5px 20px #000000CC;
}


img{
  margin-top: 0.26vw;
  margin-left: 0.3125vw;
  max-width: 75%;
	height: auto;
}

.disabled{
  border: 1px solid #000000CC;
}

.active{
  transform: translate(-4px); /* Permet de supprimer le décalage lors du grandissement de la border qui passe de 1px à 5px */
  opacity: 0.3;
  border: 5px solid #939393;
}

