/* Bouton primaire */
.btn-click-primary {
  border-radius: 2.15vw;
  background-color: #707070;
  box-shadow: 5px 10px 10px #00000099;
  cursor: pointer;
  font-size: 1vw;  /* 20px in 1920px viewport*/
  padding-left: 1.7vw;   /* 33px in 1920px viewport*/
  padding-top: 0.5vw;   /* 10px in 1920px viewport*/
  padding-bottom: 0.5vw;
  padding-right: 1.7vw;
  color: #474747;
  font-family: 'Marianne-light', sans-serif;
}


/* Spécifique au bouton avec actions */
.btn-click-actions {
  border: none;
  color: #FFFFFF;
}

.btn-click-actions:hover {
  background-color: #ACACAC;
  color: #474747;
}

/* Pour le reste des boutons */
.btn-click-inhibited{
  border: none;
  opacity: 0.7;
}

.btn-click-ghost1{
  background-color: transparent;
  border-color: #707070;
  border-width: 0.15vw;
}

.btn-click-ghost2{
  background-color: transparent;
  border-color: #707070;
  border-width: 0.15vw;
  opacity: 0.4;
}

.btn-click-error{
  border: none;
  background-color: #FF5F58;
  color: #FFFFFF;
}
