<button [@btn-action-animation]="isClicked ? 'animate' : ''" (click)="runAnimation()" (click)="example()" class="btn-click-primary btn-click-actions">Boutton</button>
<button class="btn-click-primary btn-click-inhibited">Boutton</button>
<button (click)="example()" class="btn-click-primary btn-click-ghost1">Boutton</button>
<button class="btn-click-primary btn-click-ghost2">Boutton</button>
<button class="btn-click-primary btn-click-error">Button</button>

<!-- START EXAMPLE -->
<p><I>Nombre de click : {{exampleNumber}}</I></p>
<!-- END EXAMPLE -->
