<div class="container-main-button">
  <button [@btn-all-collapsbar]="isClickedDown ? 'animate' : ''" (click)="runAnimationDown()" class="btn-click-primary btn-click-actions">
    <img src="assets/images/chevron_collapse_bas.svg">
  </button>

  <button [@btn-all-collapsbar]="isClickedUp ? 'animate' : ''" (click)="runAnimationUp()" class="btn-click-primary btn-click-actions">
    <img src="assets/images/chevron_collapse_haut.svg">
  </button>
</div>

<div class="container-main-collapsbar">

  <div class="container-collapsbar">
    <div class="collapsbar div1">
      <p>Texte</p>
    </div>

    <div class="container-chevron">
      <img [@img]="activate11 ? 'enabled' : 'disabled'" src="assets/images/ChevronBas.svg" (click)="runAnimation1()" (click)="runAnimation11()" class="chevron">
    </div>

    <div [@fiche-synthese]="activate1 ? 'enabled' : 'disabled'" class="data">

      <!-- START EXEMPLE -->
      <p><I>Contenu Contenu Contenu Contenu Contenu Contenu Contenu Contenu Contenu Contenu Contenu Contenu Contenu Contenu Contenu</I></p>
      <!-- END EXEMPLE -->

    </div>
  </div>

</div>



