<div class="header">
  <img src="assets/images/Burger-light.svg">
</div>

<div class="menu-contain">
  <ul>
    <li *ngFor="let data1 of dataNiv1" >
      {{data1.nom}}
      <ul>
        <li *ngFor="let data2 of dataNiv2">
          {{data2.nom}}
        </li>
      </ul>
    </li>
  </ul>
</div>
