.header{
  width: 25vw;
  height: 3vw;
  background-color: #474747;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 1.5vw;
}

ul{
  list-style-type: none;
}

img{
  padding-left: 0.5vw;
  cursor: pointer;
}

.menu-contain{
  width: 25vw;
  background-color: #7B7B7B;
  margin-top: -17px;
  transform: translate(-25vw);
}

p{
  color: white;
}
