<div class="container-main">
  <input type="radio" id="contactChoice1"
         name="contact" value="email">
  <label for="contactChoice1">Email</label>

  <input type="radio" id="contactChoice2"
         name="contact" value="telephone">
  <label for="contactChoice2">Téléphone</label>

  <input type="radio" id="contactChoice3"
         name="contact" value="courrier">
  <label for="contactChoice3">Courrier</label>
</div>
