.container-main-collapsbar{
  display: flex;
  flex-direction: column;
}

.container-collapsbar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapsbar{
  /* Centre le contenu de la  bar */
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Adapte le contenu de la  bar */
  padding-left: 1vw;
  padding-right: 1vw;

  width: 50vw;
  height: 2vw;
  background-color: #474747;
  border-radius: 32px;
}

.container-chevron{
  width: 3vw;
  height: 2.5vw;
  background-color: #474747;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  transform: translate(0,-1.5vw);

  display: flex;
  justify-content: center;
  align-items: center;

}

.chevron{
  cursor: pointer;
  width: 1.5vw;
}

.data{
  width: 50vw;
  background-color: #676767;
  transform: translate(0,-3.75vw);
  z-index: -1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 1vw;
  padding-bottom: 0;
  overflow: hidden;
}

p{
  color: #9B9B9B;
}


.container-main-button{
  margin-bottom: 2vw;
}

/* Bouton primaire */
.btn-click-primary {
  border-radius: 0.3vw;
  background-color: #474747;
  box-shadow: 2px 1px 10px #00000099;
  cursor: pointer;
  width: 2.7vw;
  height: 2.7vw;
}


/* Spécifique au bouton avec actions */
.btn-click-actions {
  border: none;
  color: #FFFFFF;
}

.btn-click-actions:hover {
  background-color: #ACACAC;
  color: #8F8F8F;
}

img{
  width: 1.5vw;
}


