.container-main{
  width: 400px;
  height: 500px;
}

.fenetre{
  width: 100%;
  height: 100%;
  background-color: #838383;
  border-radius: 25px;
  overflow: hidden;
  cursor: move;
}

.top{
  width:100%;
  height: 10%;
  background-color: #686868;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mask-anti-drag{
  width:100%;
  height: 90%;
  background-color: #838383;
}
