<div class="container-main">
  <div class="fenetre" id="forCdkDragMove"
  (cdkDragMoved)="onDragMoved($event)"
  (cdkDragEnded)="onDragEnded($event)"
   cdkDrag >
    <div class="top">Fenetre</div>
    <div class="mask-anti-drag"></div>
  </div>
</div>

<!-- COMPOSANT NON FINIT, S'INSPIRER DE PRELEV ET ANALYSE POUR TROUVER SOLUTION -->
