
nav{
  margin: 0;
  transform: translateX(-2.1vw);

  z-index: 2;
  width: 20vw;

  position: fixed;
}

ul{
  list-style:none;
}

li{
  border: 1px solid black;
  border-bottom: none;
  height: 1.5vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

li:last-child{
  border-bottom: 1px solid black;
}

.title{
  font-weight: bold;
  height: 3vw;
}

a:link{
  text-decoration: none;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  transform: translate(50vw,10vw);
}
