
 <nav>
  <ul>
    <li class="title ">Composants de la librairie</li>
    <li><a routerLink="/btn-action">Bouton d'action</a></li>
    <li><a routerLink="/btn-sonar">Bouton sonar</a></li>
    <li><a routerLink="/voyant">Voyant</a></li>
    <li><a routerLink="/switch-large">Switch taille large</a></li>
    <li><a routerLink="/switch-medium">Switch taille medium</a></li>
    <li><a routerLink="/btn-reset">Bouton réiniatiliser</a></li>
    <li><a routerLink="/btn-add">Bouton d'ajout</a></li>
    <li><a routerLink="/btn-trash">Bouton poubelle</a></li>
    <li><a routerLink="/btn-status">Bouton de statut</a></li>
    <li><a routerLink="/filter-panel">Panel de filtre</a></li>
    <li><a routerLink="/fiche-synthese">Fiche de synthese</a></li>
    <li><a routerLink="/btn-radio">Bouton radio</a></li>
    <li><a routerLink="/collapsbar">Collapsbar</a></li>
    <li><a routerLink="/menu">Menu</a></li>
    <li><a routerLink="/btn-selection-statut">Bouton de selection de statut</a></li>
    <li><a routerLink="/drag-and-drop">Drag and Drop</a></li>
    <li><a routerLink="/btn-service">Boutons de service</a></li>
    <li><a routerLink="/checkbox">Checkbox</a></li>
    <li><a routerLink="/slider">Slider</a></li>
    <li><a routerLink="/btn-guide">Bouton de guide</a></li>
    <li><a routerLink="/preloader">Preloader</a></li>
    <li><a routerLink="/dropdown">Dropdown</a></li>
    <li><a routerLink="/footer">Footer</a></li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>



