.btn-service{
  width: 2.45vw;
  height: 2.45vw;
  box-shadow: 5px 5px 20px #000000CC;
  margin-top: 1.5vw; /* A enlever si bouton séparé */
  border-radius: 100%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width: 50%;
  height: 50%;
}
