<div class="container-main">
  <div class="container">
    <div class="container2" id="container2">
      <img class="slide" id="slider" src="assets/images/PoigneeBas.svg">
      <div class="mask" id="mask"
      (cdkDragMoved)="onDragMoved($event)"
      (cdkDragEnded)="onDragEnded($event)"
      cdkDrag></div>
    </div>
  </div>
  <div class="container-text">
    <p [ngClass]="{'actif': this.actif == 1}" class="text">Texte1</p>
    <p [ngClass]="{'actif': this.actif == 2}" class="text">Texte2</p>
    <p [ngClass]="{'actif': this.actif == 3}" class="text">Texte3</p>
  </div>
</div>
