<button (mouseover)="play()" (mouseout)="stop()" (click)="stop()" class="btn-click-primary btn-click-actions">
  <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
</button>
