<div class="container-main">
  <div class="anim-loader1">
    <div class="anim-loader2">
      <div class="container-logo">
        <img class="logo" src="assets/images/Logo-base.svg">
      </div>
    </div>
  </div>
</div>
