.container-main{
  width: 350px;    /* Scale to fit à travailler avec la solution actuel */
  height: 20px;
}

.container{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #474747;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container2{
  width: 87%;
  height: 16%;
  border-radius: 10px;
  background-color: #7B7B7B;
  border-radius: 5px;
}

.slide{
  transform: translate(-20px,-10px);
  cursor: grab;
  position: relative;
}

.mask{
  position: relative;
  transform: translate(-9.5px,-57.5px);
  cursor: grab;
  width: 25px;
  height: 35px;
}

.mask:active{
  cursor: grabbing;
}

.container-text{
  display: flex;
  flex-direction: row;

  margin-top: -5px;
}

.text{
  margin-right: 28.5%;
  color:#7B7B7B;
  opacity: 0.6;
}

.actif{
  color:black;
  opacity: 1;
}

