<div class="container-main">
  <button [@switch-medium]="activate ? 'enabled' : 'disabled'"
    (click)="runAnimation()" class="btn-switch-medium">
  </button>
</div>

<!-- START EXEMPLE -->
<p><i>The box is now {{ activate ? 'enabled' : 'disabled' }}!</i></p>
<!-- END EXEMPLE -->

