.container-main {
  width: 3.854vw;  /* 74px */
  height: 1.771vw;  /* 34px */
  border-radius: 19px;
  background: #474747 0% 0% no-repeat padding-box;
  box-shadow: 2px 1px 10px #00000099;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-switch-large{
  width: 35%;
  height: 76.5%;
  border: none;
  border-radius: 100%;
  margin-left: 5%;
  box-shadow: 0px 3px 6px #00000099;
  cursor: pointer;
}
