<div [@filter-panel]="activateAnimFilter ? 'enabled' : 'disabled'" class="container-main">
  <div class="panel">
    <div class="data">
      <!--START EXEMPLE-->
      <p><I>Contenu du panel filtre</I></p>
      <!--END EXEMPLE-->
    </div>
  </div>
  <div class="container-chevron">
    <img [@img]="activateAnimImg ? 'enabled' : 'disabled'" (click)="runAnimationFilter()" (click)="runAnimationImg()" src="assets/images/ChevronDroite.svg">
  </div>
</div>
