.container-main{
  display: flex;
  flex-direction: row;
}

.panel{
  width: 22vw;
  height: 36.45vw;
  border-bottom-right-radius: 20px;
  background: linear-gradient(190deg, #999999 0%, #252525 100%);
}

/* Permet d'apapter l'ensemble du contenu */
.data{
  margin-left: 2vw;
}

.container-chevron{
  width: 2.5vw;
  height: 3vw;
  background: linear-gradient(190deg, #999999 0%, #939393 100%);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;

  /* Centre horizontalement le chevron */
  display: flex;
  justify-content: center;
}

img{
  width: 40%;
  cursor: pointer;
}
