<div class="container-main">
  <button [@cercleAnimation]="isClicked ? 'animate' : ''" (click)="runAnimation()" class="cercle-simulation-animation"></button>
  <button [@sonarAnimation]="isClicked ? 'animate' : ''" (click)="runAnimation()" class=btn-sonar>
      <!-- START EXAMPLE -->
      <img src="assets/images/Logo-base.svg">
      <!-- END EXAMPLE -->
  </button>
  <h2>Titre principal</h2>
</div>
