.container-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15.625vw;   /* 300px */
}

.btn-sonar{
  border-radius:50%;
  width:11.615vw;  /* 223px */
  height:11.615vw;
  background-color: #707070;
  cursor: pointer;
  border: none;
  box-shadow: 5px 5px 10px #00000099;
  z-index:1;
}

.cercle-simulation-animation{
  background-color: #ACACAC;
  position: absolute;
  border-radius:50%;
  width:11.615vw; /* 223px */
  height:11.615vw;
  opacity: 0.3;
  border: none;
}

.btn-sonar:hover{
  background-color: #ACACAC;
}

h2{
  margin-top: 1.042vw;  /* 20px */
  font-size: 2.188vw;  /* 42px */
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{
  max-width: 60%;
	height: auto;
}
