.container-main {
  width: 3.125vw;  /* 60px */
  height: 1.458vw;  /* 28px */
  border-radius: 17px;
  background: #474747 0% 0% no-repeat padding-box;
  box-shadow: 2px 1px 10px #00000099;

  /* Centre le bouton (btn-switch-medium) à l'intérieur */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-switch-medium{
  width: 1.1vw;  /* 35% de width de .switch-medium */
  height: 1.1vw;  /* 75% de height de .switch-medium */
  border:none;
  border-radius:100%;
  margin-left: 5%;
  box-shadow: 0px 3px 6px #00000099;
  cursor: pointer;
}
