.btn-add{
  width: 4.6875vw;  /* 90px */
  height: 4.6875vw;
  border-radius: 100%;
  border: none;
  background: #474747;
  box-shadow: 5px 5px 20px #00000099;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-add:hover{
  background: #707070;
}


.btn-add-blue{
  width: 4.6875vw;  /* 90px */
  height: 4.6875vw;
  border-radius: 100%;
  border: none;
  background: rgb(78, 78, 255);
  box-shadow: 5px 5px 20px #00000099;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-add-blue:hover{
  background: rgb(187, 187, 252);
}

img{
  position: absolute;
  z-index: 1;
	width: 2.5vw;  /* 48px */
}

p{
  font-size: 0.7vw;  /* 13.5px */
}
