<div class="container-main">
  <div [@btn-service]="activateBell ? 'enabled' : 'disabled'" (click)="runAnimationBell()" class="btn-service">
    <img [src]="'assets/images/' + (activateBell ? 'BellFonce.svg' : 'BellClaire.svg')">
  </div>
  <div [@btn-service]="activateExit ? 'enabled' : 'disabled'" (click)="runAnimationExit()" class="btn-service">
    <img [src]="'assets/images/' + (activateExit ? 'ExitFonce.svg' : 'ExitClaire.svg')">
  </div>
  <div [@btn-service]="activateInfo ? 'enabled' : 'disabled'" (click)="runAnimationInfo()" class="btn-service">
    <img [src]="'assets/images/' + (activateInfo ? 'InfoFonce.svg' : 'InfoClaire.svg')">
  </div>
  <div [@btn-service]="activateUser ? 'enabled' : 'disabled'" (click)="runAnimationUser()" class="btn-service">
    <img [src]="'assets/images/' + (activateUser ? 'UserFonce.svg' : 'UserClaire.svg')">
  </div>
</div>
