<div class="main-container">
  <div [@border]="activate ? 'enabled' : 'disabled'" class="container">
    <div (click)="runAnimation()" class="container-role">
      <p [@text]="activate ? 'enabled' : 'disabled'"> RT </p>
    </div>
    <div [@btn-selection]="activate ? 'enabled' : 'disabled'" class="voyant">
    </div>
  </div>
</div>

