.main-container{
  width: 3vw;
  height: 3vw;
  background: #686868;
  border-radius: 9px;
  box-shadow: inset 0px 3px 6px #00000099;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  border-radius: 9px;
  background-color: #959595;

  display: flex;
  align-items: center;
  justify-content: center;
}

.voyant{
  width: 0.313vw;
  height: 0.313vw;
  border-radius: 100%;
  position: absolute;
}

.container-role{
  width: 65%;
  height: 65%;
  background:linear-gradient(29deg, #c7c7c7 0%, #929292 31%, #636363 80%, black 100%);
  border-radius: 100%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

p{
  font-weight: bold;
  font-size: 0.84vw;
}

