Bonne version sur le gitLab officiel

<div class="container-main">
  <div class="container" [@border]="activate ? 'enabled' : 'disabled'">
    <div class="title">Sélection</div>

    <div class="image" [@img]="activate ? 'enabled' : 'disabled'" (click)="runAnimation()">
      <img src="assets/images/ChevronBas.svg">
    </div>

  </div>
  <div [@fiche-synthese]="activate ? 'enabled' : 'disabled'" class="data">

  </div>

</div>
