.container-main{
  width: 190px;
}

.container{
  width: 100%;
  height: 30px;
  background-color: #707070;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;

  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 5px #707070;
}

.title{
  display: flex;
  align-items: center;
  width: 85%;
}


.image{
  display: flex;
  align-items: center;
  float:right;
  width: 15%;
  cursor: pointer;
}

.data{
  width: calc(100% + 10px);
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 5px #707070;
}
