/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: Marianne-light;
  src: url(assets/fonts/marianne_v2_cle4a772e/Marianne-Light.otf) format("opentype");
}

body{
  font-family: 'Marianne-light', sans-serif;
}

html{
  height:100vh;
}

body {
  height: 100%;
  background-color: antiquewhite;
  margin: 0;
}
