.btn-trash{
  width: 2.3vw;   /* 44px with 1920 width viewport */
  height: 2.3vw;   /* 44px with 1920 width viewport */
  border-radius: 0.521vw;
  box-shadow: 5px 5px 20px #000000CC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #363636;
  border:none;
}

.btn-trash:hover{
  background-color: #707070;
}

img{
  width: 1.6vw;  /* 31px with 1920 width viewport */
}

