<div class="container-main">


  <div [ngClass]="{'actifTrash': this.angle == -1}" class="small-circle pos1"></div>
  <div [ngClass]="{'actifPoint': this.angle == 0}" class="small-circle pos2"></div>
  <div [ngClass]="{'actifPoint': this.angle == 1}" class="small-circle pos3"></div>
  <img id="trash" src="assets/images/Trash.svg">
  <p [ngClass]="{'actifText': this.angle == 0}" id="saisie">En saisie</p>
  <p [ngClass]="{'actifText': this.angle == 1}" id="valide">Valider</p>

  <div class="cercle cercle-dashed">
  <div class="cercle cercle-solid">

    <div id="mask-pointer" class="mask-pointer"
      (cdkDragMoved)="onDragMoved($event)"
      (cdkDragEnded)="onDragEnded($event)"
      cdkDrag>
    </div>

    <img id="btn-status" src="assets/images/btn-status.svg" >

  </div>

</div>



<p id="example"><i>L'angle actuel est le {{this.angle}}</i></p>
