/* Bouton primaire */
.btn-click-primary {
  border-radius: 0.3vw;
  background-color: #474747;
  box-shadow: 2px 1px 10px #00000099;
  cursor: pointer;
  width: 2.7vw;
  height: 2.7vw;
}


/* Spécifique au bouton avec actions */
.btn-click-actions {
  border: none;
  color: #FFFFFF;
}

.btn-click-actions:hover {
  background-color: #ACACAC;
  color: #8F8F8F;
}

img{
  width: 1.5vw;
}
