<button [@btn-reset-animation]="isClickedForBtn ? 'btn-animate' : ''" (click)="runAnimationBtn()" (click)="runAnimationArrow()" class="btn-reset">
  <img [@btn-reset-arrow-animation]="isClickedForArrow ? 'arrow-animate' : ''" src="assets/images/Arrow-circle.svg">
  <p>Réinitialiser</p>
</button>
